body {
    padding: 0;
    margin: 0;
    /*display: flex;*/
    /*align-items: center;*/
    justify-content: center;
    height: 100vh;
    background: #202028;
    color: #fce7b7;
    transition: .5s;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px
}

/*section {
    border: 8px dashed #a43333;
}*/

h1, h2 {
    display: flex;
    justify-content: center;
    color: #fce7b7;
}

/*aside {
    float: right;
    margin-right: 32px;
    /*padding: 16px;
    border: 8px solid #a43333;
    border-radius: 32px; *
}*/

.anotherclass {
    border: 8px dashed #a43333;
    margin: 16px;
    padding-left: 16px;
    padding-right: 16px;
    justify-content: center;
    text-align: center;
}

.someclass {
    justify-content: center;
    align-items: center;
    display: flex;
}

.menu {
    display: flex;
    justify-content: center;
    margin-right: 32px;
}

ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

a {
    text-decoration: none;
    color: #fce7b7;
    font-size: 26px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navthing {
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    font-size: 26px;
    margin-left: 8px;
    margin-right: 16px;
    font-weight: bold;
}

a.navthing:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 5px;
    top: -5px;
    left: -5px;
    transform: scale(0);
    background: #a43333;
    z-index: -1;
    border-radius: 10px;
}

a.navthing:hover:before {
    opacity: 1;
    transition: 0.5s transform cubic-bezier(0,.44,.3,1.47);
    transform: scale(1);
}

/*p a:hover {
    transition: 0.5s;
    color: #a43333;
}*/

ul .active {
    color: #a43333;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    font-size: 26px;
    margin-left: 8px;
    margin-right: 16px;
    font-weight: bold;
}

ul .active:hover:before {
    opacity: 0;
}

.red:hover {
/*    filter: invert(31%) sepia(7%) saturate(4425%) hue-rotate(314deg) brightness(105%) contrast(112%);*/
    filter: grayscale(100%) brightness(25%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8);
    transition: 0.5s;
}

.wrap_title {
    border-radius: 30px 30px 8px 8px;
    text-align: center;
    background: #a43333;
    color: #fce7b7;
    font-weight: bold;
    font-size: 38px;
}

.wrap-text {
    font-size: 24px;
    text-align: center;
    padding: 10px 20px;
    border: 2px solid #a43333;
    border-radius: 16px 16px 16px 16px;
    color: #fce7b7;
    background: #202028;
}

.link {
    color: #a43333;
    text-decoration: underline;
}
